@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.3rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

/* custom css applied */
.bg-bluish {
	@apply bg-gradient-to-r from-blue-500 to-green-400
}

.bg-bluish-inverse {
	@apply bg-gradient-to-r to-blue-500 from-green-400
}

.text-bluish {
	@apply bg-gradient-to-r from-blue-500 to-green-400 text-transparent bg-clip-text
}

.text-bluish-inverse {
	@apply bg-gradient-to-r to-blue-500 from-green-400 text-transparent bg-clip-text
}

/* -----------------scrollbar------------------ */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(157, 149, 231);
	height: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #d1cfff;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a8aed6;
}

html {
	scroll-behavior: smooth;
}

/* hide clerk label in forms */
:is(.cl-footer, .cl-scrollBox, .cl-scrollBox)+div[class^="cl-internal"] {
	display: none;
}

/* clerk user button custom design */
.cl-rootBox.cl-userButton-root {
	display: flex;
	align-items: center;
}

/* clerk organization switcher button custom design */
.cl-organizationSwitcherTrigger {
	width: 100%;
}

.cl-rootBox.cl-organizationSwitcher-root {
	background-color: #efedff;
	width: 100%;
	border-radius: 8px;
}

.full-bleed {
	box-shadow: 0 0 0 100vmax var(--bg-color);
	clip-path: inset(0 -100vmax);
}

.banner-bg {
	--bg-color: #29556a;
	background-color: var(--bg-color);
	color: whitesmoke;
}

.dark .cl-rootBox.cl-organizationSwitcher-root {
	background-color: rgb(29, 28, 28);
	color: whitesmoke;
}

/* Custom CSS Needed for TipTap PlaceHolder */
.ProseMirror p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

p:empty::before {
	content: '';
	display: inline-block;
}

:is(.tiptap.ProseMirror, .tiptap-result) h1 {
	font-size: 2em;
	margin-block: 0.67em;
	font-weight: bold;
}

:is(.tiptap.ProseMirror, .tiptap-result) h2 {
	font-size: 1.5em;
	margin-block: 0.83em;
	font-weight: bold;
}

:is(.tiptap.ProseMirror, .tiptap-result) h3 {
	font-size: 1.17em;
	margin-block: 1em;
	font-weight: bold;
}

:is(.tiptap.ProseMirror, .tiptap-result) h4 {
	font-size: 1em;
	margin-block: 1.33em;
	font-weight: bold;
}

:is(.tiptap.ProseMirror, .tiptap-result) h5 {
	font-size: 0.83em;
	margin-block: 1.67em;
	font-weight: bold;
}

:is(.tiptap.ProseMirror, .tiptap-result) h6 {
	font-size: 0.67em;
	margin-block: 2.33em;
	font-weight: bold;
}

/* image gallery */

.main-gallery-img>img.image-gallery-image {
	object-fit: cover;
	height: 350px;
}

.main-gallery-img .image-gallery-description {
	bottom: 55px !important;
	font-size: 14px !important;
	line-height: 1.25 !important;
}

.gallery-thumbnail>.image-gallery-thumbnail-inner {
	height: 60px;
	overflow: hidden;
}

.gallery-thumbnail .image-gallery-thumbnail-image {
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 500px) {
	.main-gallery-img>img.image-gallery-image {
		height: 250px;
	}
}

.main-gallery-img>img.image-gallery-image.full-screen {
	height: auto;
}